<div class="row">
    <div class="col-md-12">
        <input type='text' ng-model="words.input1" placeholder="Name" />
        <input type='text' ng-model="words.input2" placeholder="Adjective" />
        <input type='text' ng-model="words.input3" placeholder="Noun" />
        <input type='text' ng-model="words.input4" placeholder="Verb (present tense)" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type='text' ng-model="words.input5" placeholder="Plural Noun" />
        <input type='number' ng-model="words.input6" placeholder="Number" />
        <input type='text' ng-model="words.input7" placeholder="Adjective" />
        <input type='text' ng-model="words.input8" placeholder="Noun" />
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <button ng-click='getInput(words)'>Computate!</button>
    </div>

</div>
