<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <p>
      This is a story about {{display.input1}}. {{display.input1}} was {{display.input2}} all over, and they didn't know why. They thought that maybe it was their {{display.input3}}, so they tried to {{display.input4}} to fix the problem. No luck. Then {{display.input1}} asked all of their {{display.input5}} for help. No dice. {{display.input1}} decided to wait it out, and see if it would go away on its own. They waited {{display.input6}} years, but the problem still was happening. {{display.input1}} made a {{display.input7}} noise, and decided to just live with it. After accepting their problems, {{display.input1}} was able to live the rest of their days in peace with their {{display.input8}}.
    </p>
  </div>
  <div class="col-md-2">

  </div>
</div>
